#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  
  padding: 10px 150px;
  
  background-color: white;
}  

body {
  background: DimGray;
}

h1 {
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, sans-serif;  
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  font-size: 85px;
  color: #216CC1;
}

h4 {
  text-align: center;
  padding: 1px;
}

img {
  height: 275px;
}
