#container {
  margin-left: 200px;
  margin-right: 200px;
  
  padding-right: 150px;
  padding-left: 150px;
 
  background-color: white;
}  

body {
  background: DimGray;
}

h1 {
  text-align: center;
  font-famiy; Copperplate;
  font-size: 115px;
  color: #216CC1;
}

h4 {
  text-align: center;
  padding: 1px;
}

img {
  height: 200px;
  padding-right: 100px;
}
