#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  
  padding: 10px 150px 20px 150px;
  
  background-color: white;
}
.image {
  background-image: url("https://bit.ly/2HfjEV8");
  background-size: cover;
  background-position: center;
  height: 285px;
}
.bottom-left {
  background-color: white;
  font-family: verdana;
  color: black;
}
body {
  background: DimGray;
}
h1 {
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, sans-serif;  
  font-variant: normal; 
  font-weight: 700; 
  line-height: 25px; 
  font-size: 60px;
  color: #216CC1;
}
h4 {
  text-align: center;
  padding: 1px;
}
